@import '../../../../protocol/css/includes/lib';

.t-features {
    text-align: center;
}

.c-feature-name {
    @include font-size(24px);
}

.c-feature-img {
    margin-bottom: $layout-sm;
}

.c-feature-desc {
    margin-bottom: $layout-xs;
}
