{# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

 {% from "macros.html" import google_play_button with context %}
 {% from "macros-protocol.html" import call_out, call_out_compact, hero, feature_card with context %}

 {% extends "firefox/base-protocol.html" %}

 {% block page_title %}Firefox{% endblock %}

 {% block content %}

 <div class="mzp-l-content">
 <section class="mzp-c-card-feature mzp-has-aspect-3-2 mzp-l-card-feature-left-half  mzp-t-firefox mzp-t-product-firefox">
    <div class="mzp-c-card-feature-media-wrapper">
      <div class="mzp-c-card-feature-media">
      </div>
    </div>
    <div class="mzp-c-card-feature-content">
      <div class="mzp-c-card-feature-content-container">
          <span class="master-logo"></span>
          <h2 class="mzp-c-card-feature-title">More than a browser</h2>
          <p class="mzp-c-card-feature-desc">
              A family of products to help you get control of your online life, by a company that fights for you not advertisers.
          </p>
      </div>
    </div>
  </section>
</div>

   <div class="mzp-l-content">
       <div class="mzp-l-card-third">
          <section class="mzp-c-card mzp-has-aspect-16-9">
              <a class="mzp-c-card-block-link" href="#">
                <div class="mzp-c-card-media-wrapper">
                  <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
                </div>
                <div class="mzp-c-card-content">
                  <h2 class="mzp-c-card-title">Firefox Browsers</h2>
                  <p class="mzp-c-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor mauris eu enim egestas, in fermentum libero ultrices. Quisque id tincidunt neque.</p>
                  <a class="mzp-c-cta-link" href="#">Download</a>
                </div>
              </a>
            </section>

           <section class="mzp-c-card mzp-has-aspect-16-9">
             <a class="mzp-c-card-block-link" href="#">
               <div class="mzp-c-card-media-wrapper">
                 <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
               </div>
               <div class="mzp-c-card-content">
                 <h2 class="mzp-c-card-title">Firefox Monitor</h2>
                 <p class="mzp-c-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor mauris eu enim egestas, in fermentum libero ultrices. Quisque id tincidunt neque.</p>
                 <a class="mzp-c-cta-link" href="#">Sign up for alerts</a>
               </div>
             </a>
            </section>

           <section class="mzp-c-card mzp-has-aspect-16-9">
             <a class="mzp-c-card-block-link" href="#">
               <div class="mzp-c-card-media-wrapper">
                 <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
               </div>
               <div class="mzp-c-card-content">
                 <h2 class="mzp-c-card-title">Firefox Lockwise</h2>
                 <p class="mzp-c-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor mauris eu enim egestas, in fermentum libero ultrices. Quisque id tincidunt neque.</p>
                 <a class="mzp-c-cta-link" href="#">Install the Mobile App</a>
               </div>
             </a>
           </section>
          </div>
          <div class="mzp-l-card-half">

           <section class="mzp-c-card mzp-c-card-large mzp-has-aspect-16-9">
             <a class="mzp-c-card-block-link" href="#">
               <div class="mzp-c-card-media-wrapper">
                 <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
               </div>
               <div class="mzp-c-card-content">
                 <h2 class="mzp-c-card-title">Our Privacy Promise</h2>
                 <p class="mzp-c-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor mauris eu enim egestas, in fermentum libero ultrices. Quisque id tincidunt neque.</p>
                 <a class="mzp-c-cta-link" href="#">Send a file</a>
               </div>
             </a>
           </section>


           <section class="mzp-c-card mzp-c-card-large mzp-has-aspect-16-9">
             <a class="mzp-c-card-block-link" href="#">
               <div class="mzp-c-card-media-wrapper">
                 <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
               </div>
               <div class="mzp-c-card-content">
                 <h2 class="mzp-c-card-title">Firefox ❤ Mozilla</h2>
                 <p class="mzp-c-card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor mauris eu enim egestas, in fermentum libero ultrices. Quisque id tincidunt neque.</p>
                 <a class="mzp-c-cta-link" href="#">Donate</a>
               </div>
             </a>
           </section>

          </div>

          <div class="mzp-l-card-quarter">

              <section class="mzp-c-card mzp-has-aspect-16-9">
                  <a class="mzp-c-card-block-link" href="#">
                    <div class="mzp-c-card-media-wrapper">
                      <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
                    </div>
                    <div class="mzp-c-card-content">
                      <p class="mzp-c-card-desc">Latest Firefox Release Available today for iOS and Desktop</p>
                      <a class="mzp-c-cta-link" href="#">Read more</a>
                    </div>
                  </a>
                </section>
              <section class="mzp-c-card mzp-has-aspect-16-9">
                  <a class="mzp-c-card-block-link" href="#">
                    <div class="mzp-c-card-media-wrapper">
                      <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
                    </div>
                    <div class="mzp-c-card-content">
                      <p class="mzp-c-card-desc">Technology with respect and honesty. Here’s how we do it. </p>
                      <a class="mzp-c-cta-link" href="#">Read more</a>
                    </div>
                  </a>
                </section>
                <section class="mzp-c-card mzp-has-aspect-16-9">
                    <a class="mzp-c-card-block-link" href="#">
                      <div class="mzp-c-card-media-wrapper">
                        <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
                      </div>
                      <div class="mzp-c-card-content">
                        <p class="mzp-c-card-desc">The web the world needs can be ours again, if we want it</p>
                        <a class="mzp-c-cta-link" href="#">Read more</a>
                      </div>
                    </a>
                  </section>
                  <section class="mzp-c-card mzp-has-aspect-16-9">
                      <a class="mzp-c-card-block-link" href="#">
                        <div class="mzp-c-card-media-wrapper">
                          <img class="mzp-c-card-image" src="../static/img/card/card-image.png" alt="">
                        </div>
                        <div class="mzp-c-card-content">
                          <p class="mzp-c-card-desc">When it comes to privacy, default settings matter!</p>
                          <a class="mzp-c-cta-link" href="#">Read more</a>
                        </div>
                      </a>
                    </section>


          </div>
       </div>
 {% endblock %}

 {% block js %}
   {{ js_bundle('fights-for-you') }}
 {% endblock %}
