{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros.html" import google_play_button with context %}
{% from "macros-protocol.html" import call_out, call_out_compact, hero, feature_card with context %}

{% extends "firefox/base-protocol.html" %}

{% block page_title %}Products{% endblock %}

{% block content %}
<section class="mzp-c-hero mzp-t-firefox">
    <div class="mzp-l-content">
      <div class="mzp-c-hero-body">
        <span class="master-logo"></span>
        <h1 class="mzp-c-hero-title">Join Firefox</h1>

        <div class="mzp-c-hero-desc">
          <p class="mzp-c-hero-tagline">Join the fight for your Internet rights</p>
        </div>
      </div>
    </div>
  </section>

  <div class="mzp-l-content">

  </div>
{% endblock %}

{% block js %}
  {{ js_bundle('fights-for-you') }}
{% endblock %}
