{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import google_play_button, send_to_device with context %}
{% from "macros-protocol.html" import feature_card, hero, call_out_compact with context %}

{% add_lang_files "firefox/sendto" %}

{% extends "firefox/base-protocol.html" %}

{% block page_css %}
  {{ css_bundle('firefox-mobile-protocol') }}
{% endblock %}

{% block page_title %}{{ _('Mobile browsers for iOS and Android') }} | {{ _('Firefox') }}{% endblock %}
{% block page_desc %}{{ _('Download Firefox and Firefox Focus for mobile and tablet.') }}{% endblock %}
{% block page_og_title %}{{ _('Get the mobile browser built for you, not advertisers') }} | {{ _('Firefox') }}{% endblock %}
{% block page_og_desc %}{{ _('Check out Firefox again. It’s fast, private and on your side. For iOS and Android.') }}{% endblock %}

{% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}

{% block content %}

  <main role="main">

    <section id="focus" class="c-focus t-focus mzp-t-dark mzp-t-firefox">
      <div class="mzp-l-content">
        <h1 class="c-wordmark t-focus">{{ _('Firefox Focus') }}</h1>
        <div class="c-focus-body">
          <h2>{{ _('Set your life to private. Automatically.') }}</h2>
          <p>{{ _('Firefox Focus is clean, simple, and the privacy features are always on.') }}</p>

          <div class="header-product-ctas">
            <button id="get-focus" type="button" class="js-focus mzp-c-button mzp-t-secondary mzp-t-dark" data-product="focus" data-button-name="Send to SMS Modal - Firefox Focus">{{ _('Get Firefox Focus') }}</button>
          </div>
          <div class="mobile-download-buttons-wrapper">
            <ul class="mobile-download-buttons focus" id="mobile-download-buttons-focus">
              <li class="android">
                {{ google_play_button(href=settings.GOOGLE_PLAY_FIREFOX_FOCUS_LINK, id='playStoreLink', product='Focus') }}
              </li>
              <li class="android-apk">
                  <a href="https://archive.mozilla.org/pub/android/focus/latest/" data-link-type="download" data-download-os="Android">{{ _('Download the APK') }}</a>
              </li>
              <li class="ios">
                <a id="appStoreLink" href="{{ settings.APPLE_APPSTORE_FIREFOX_FOCUS_LINK }}" data-link-type="download" data-download-os="iOS">
                  <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ _('Download on the App Store') }}" width="152" height="45">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-focus-side">
          <h3 class="t-block">{{ _('Automatically blocks ads') }}</h3>
          <p>{{ _('Built-in tracking protection stops ads trackers cold – and helps pages load faster.') }}</p>
          <h3 class="t-erase">{{ _('Automatically erases your history') }}</h3>
          <p>{{ _('Your browsing history and cookies are wiped with a single tap – or whenever you close a tab.') }}</p>
        </div>
      </div>
    </section>{#--/#focus--#}



      <div id="modal-download-focus" class="desktop-download">
        <h3>{{ _('Get Firefox Focus') }}</h3>
        <p>{{ _('Scan the QR code to get started') }}</p>
        <div class="desktop-download">
          <div class="qr-code-wrapper">
            <img src="{{ static('img/firefox/mobile/protocol/qr-focus.png') }}"
                 id="focus-qr"
                 alt="QR code to scan for Firefox mobile.">
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-mobile-protocol') }}
{% endblock %}
