{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import google_play_button, send_to_device with context %}
{% from "macros-protocol.html" import feature_card, hero, call_out_compact with context %}

{% add_lang_files "firefox/sendto" %}

{% extends "firefox/base-protocol.html" %}

{% block page_css %}
  {{ css_bundle('firefox-mobile-protocol') }}
{% endblock %}

{% block page_title %}{{ _('Mobile browsers for iOS and Android') }} | {{ _('Firefox') }}{% endblock %}
{% block page_desc %}{{ _('Download Firefox and Firefox Focus for mobile and tablet.') }}{% endblock %}
{% block page_og_title %}{{ _('Get the mobile browser built for you, not advertisers') }} | {{ _('Firefox') }}{% endblock %}
{% block page_og_desc %}{{ _('Check out Firefox again. It’s fast, private and on your side. For iOS and Android.') }}{% endblock %}

{% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}

{% block content %}

  <main role="main">
    <section class="mzp-c-hero mzp-t-firefox mzp-t-product-firefox">
      <div class="mzp-l-content">
        <div class="mzp-c-hero-body">
          <h1 class="mzp-c-hero-title">Mobile for Android</h1>
          <div class="mzp-c-hero-desc">
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-mobile-protocol') }}
{% endblock %}
